{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'about_us_styles.css' %}">
        <title>About Us</title>
    </head>
    <body>
        <main>
            <h1>About Us - Perpex Restaurant Management</h1>
            <p>This is a platform to help organize restaurant data. Keeping all restaurant information in one place and allowing users to manage that data easily.</p>
            <h2>History</h2>
            <p>We have seen a lot of restaurants struggle to manage their data which resulted in their business processes suffering. We decided to create a solution to this problem to help restaurants manage data easily.</p>
            <h2>Mission</h2>
            <p>Our mission is to help data streamline business processes by helping restaurants manage their data easily to help with customer interactions and supply chain management.</p>
        </main>
        <footer>
            <p>Mon-Fri: 11:00-21:00, Sat-Sun: 10:00-22:00</p>
            <p>2025, &copy Perpex Restaurant Management, All Rights Reserved.</p>
        </footer>
    </body>
</html>