{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'contact_us_styles.css' %}">
        <title>Contact Us</title>
    </head>
    <body>
        <main>
            <h1>Contact Us</h1>
            <p>For any kind of support, feel free to contact us at support@restaurantmanagement.com or call 000 000 0000</p>
        </main>
        <footer>
            <p>Mon-Fri: 11:00-21:00, Sat-Sun: 10:00-22:00</p>
            <p>2025, &copy Perpex Resaurant Management, All Rights Reserved.</p>
        </footer>
    </body>
</html>