{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'feedback_styles.css' %}">
        <title>Feeback Form</title>
    </head>
    <body>
        <main>
            <h1>Feeback Form</h1>
            <form method="POST" action="{% url 'feedback_form' %}">
                <label for="comments">
                    <textarea id="comments" cols="26" rows="10" name="comments">
                </label>
                <input type="submit" name="submit" id="submit">
            </form>
        </main>
        <footer>
            <p>Mon-Fri: 11:00-21:00, Sat-Sun: 10:00-22:00</p>
            <p>2025, &copy Perpex Restaurant Management, All Rights Reserved.</p>
        </footer>
    </body>
</html>