{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'home_styles.css' %}">
        <title>Home Page</title>
    </head>
    <body>
        <nav>
            <a href="{% url 'homepage' %}" class="nav-button">Home</a>
            <a href="{% url 'about' %}" class="nav-button">About</a>
            <a href="{% url 'feedback_form'%}" class="nav-button">FAQ</a>
            <a href="{% url 'menu' %}" class="nav-button">Menu</a>
            <a href="{% url 'reservations'%}" class="nav-button">Reservations</a>
            <a href="{% url 'feedback' %}" class="nav-button">Contact</a>
            <a href="{% url 'faq' %}" class="nav-button">FAQ</a>
            <img src="{% static 'logo.png' %}" alt="Company Logo" id="logo">
            <form method="GET" action="{% url 'search_menu' %}">
                <input type="text" name='search_bar' id="search_bar" placeholder="Search items by name">
            </form>
        </nav>
        <section class="login">
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <input type="text" id="username" name="username">
                <input type="email" id="email" name="email">
                <input type="password" id="password" name="password">
                <input type="submit" id="submit" name="submit">
            </form>
        </section>
        <main>
            <h1>{{restaurant_name}}</h1>
            <p>{{current_time}}</p>
            <h2>Opening Hours: {{opening_hours}}</h2>
            <p>Restaurant Address: {{restaurant_address}}</p>
            <p>Welcome to the Perpex Restaurant Management System</p>
            <img src="{% static 'seafood.png' %}" alt="seafood" class="extra_images">
            <p>This is the restaurant management system. You can manage all the different parts of your restaurant from here.</p>
            <p>Restaurant Address: {{restaurant_address}}</p>
            <p>Restaurnat Number: {{phone_number}}</p>
            <h2>Menu Items:</h2>
            <img src="{% static 'beef_wellington.png' %}" alt="beef wellington">
            <p>You can choose from a variety of our world class dishes:</p>
            <ul>
            {% if page_obj %}
            {% for menu_item in page_obj %}
                <li>{{menu_item.name}}: ${{menu_item.price}}</li>
                <li>{{menu_item.image}}</li>
                <li>{{menu_item.details}}</li>
            {% endfor %}
            {% endif %}
            </ul>
            <h2>These are today's sepecials</h2>
            <ul>
                {% for special in specials %}
                <li>{{special.item.item_name}}: {{special.item.price}}</li>
                {% endfor %}
            </ul>
            <h2>About the Chef</h2>
            <p>Name: {{chef_name}}</p>
            <p>Bio: {{chef_bio}}</p>
            <img href="{% static 'chef_image.png' %}" alt="chef's face">

            <h2>Items in Cart:</h2>
            <ul>
                {% for cart_item in cart_items %}
                <li>Name:{{cart_item.name}}, Price:{{cart_item.price}}</li>
                {% endfor %}
            </ul>
            <a href="{% url 'order_placement' %}">
                <label for="order_now">Order Now
                    <input id="order_now" type="button">
                </label>
            </a>
        </main>
        <section class="google_maps">
            <iframe
            width="600"
            height="450"
            style="border:0"
            loading="lazy"
            allowfullscreen
            referrerpolicy="no-refferer-when-downgrade"
            src="https://www.google.com/maps/embed/v1/place?key={{ GOOGLE_MAPS_API_KEY }}&q={{ restaurant_location.adress|urlencode }}">
            </iframe>
        </section>
        <section class="contact_section">
            <form method="POST" action="{% url 'contact_us' %}">
                <input type="text" id="name" name="name">
                <input type="email" id="email" name="email">
                <input type="submit" id="submit" name="submit">
            </form>
        </section>
        <footer>
            <p>Restaurant Phone Number: {{phone_number}}</p>
            <a href="{% url 'privacy_policy' %}">Privay Policy</a>
            <p class="footer_opening_closing_times">Mon-Fri: {{opening_hours}}-{{closing_hours}}, Sat-Sun: {{opening_hours}}-{{closing_hours}}</p>
            <p>2025, &copy Perpex Restaurant Management, All Rights Reserved.</p>
        </footer>
    </body>
</html>