{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'home_styles.css' %}">
        <title>Home Page</title>
    </head>
    <body>
        <nav>
            <img src="{% static 'homepage_logo.png' %}" alt="Company Logo" id="logo">
            <input type="text" name='search_bar' id="search_bar" placeholder="Search items by name">
        </nav>
        <main>
            <h1>{{restaurant_name}}</h1>
            <p>This is the restaurant management system. You can manage all the different parts of your restaurant from here.</p>
            <h2>Menu Items:</h2>
            <ul>
            {% for menu_item in menu_items %}
                <li>{{menu_item.image}}</li>
                <li>{{menu_item.name}}: ${{menu_item.price}}</li>
                <li>{{menu_item.details}}</li>
            {% endfor %}
            </ul>
        </main>
        <section class="google_maps">
            <iframe
            width="600"
            height="450"
            style="border:0"
            loading="lazy"
            allowfullscreen
            referrerpolicy="no-refferer-when-downgrade"
            src="https://www.google.com/maps/embed/v1/place?key={{ GOOGLE_MAPS_API_KEY }}&q={{ restaurant_location.adress|urlencode }}">
            </iframe>
        </section>
        <section class="contact_section">
            <form method="POST" action="{% url 'contact_us' %}">
                <input type="text" id="name" name="name">
                <input type="email" id="email" name="email">
                <input type="submit" id="submit" name="submit">
            </form>
        </section>
        <footer>
            <p>Restaurant Address: {{restaurant_location.address}}</p>
            <p>Mon-Fri: 11:00-21:00, Sat-Sun: 10:00-22:00</p>
            <p>2025, &copy Perpex Restaurant Management, All Rights Reserved.</p>
        </footer>
    </body>
</html>