{% load static %}
<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" type="text/css" href="{% static '404_styles.css' %}">
    <body>
        <main>
            <h1>Opps!</h1>
            <h2>We can't seem to find the page you are looking for.</h2>
            <p>
                This page may have been moved or deleted, or maybe you mistyped the address.
            </p>
            <a href="{% url 'home' %}">Return Home</a>
        </main>
        <footer>
            <p>Mon-Fri: 11:00-21:00, Sat-Sun: 10:00-22:00</p>
            <p>2025, &copy Perpex Restaurant Management, All Rights Reserved.</p>
        </footer>
    </body>
</html>