{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'menu_styles.css' %}">
        <title>Menu</title>
    </head>
    <body>
        <h1>Menu</h1>
        <form method="GET" action="{% url 'menu_search' %}">
            <input type="text" id="menu_search" name="menu_search">
        </form>
        <ul>
        {% for menu_item in menu %}
            <div class="menu_item">
                {% if menu_item.is_available %}
                <li>{{menu_item.image}}</li>
                <li>{{menu_item.name}}: ${{menu_item.price}}</li>
                <li>{{menu_item.details}}</li>
                {% else %}
                <li>{{menu_item.name}} is coming soon</li>
                {% endif %}
            </div>
        {% endfor %}
        </ul>
    </body>
    <footer>
        <p>Mon-Fri: 11:00-21:00, Sat-Sun: 10:00-22:00</p>
        <p>2025, %copy Perpex Restaurant Management, All Rights Reserved.</p>
    </footer>
</html>