{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'our_story_styles.css' %}">
        <title>Our Story</title>
    </head>
    <body>
        <main>
            <h1>Our story</h1>
            <p>We have seen a lot of restaurnats struggle to manage all sections and departments of their business, which is why we chose to help restaurnats manage everything, from the customer side, to the supply chain, to strealine operations and make processes more efficient.</p>
        </main>
    </body>
    <footer>
        <p>2025, &copy Perpex Restaurant Management. All Rights Reserved.</p>
    </footer>
</html>