{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'privacy_policy_styles.css' %}">
        <title>Privacy Policy</title>
    </head>
    <body>
        <main>
            <h1>Privacy Policy</h1>
            <p>
                We value your privacy and are committed to protecting your personal information. Our restaurant management system collects only the data necessary to provide and improve our services, such as servation detials, customer contact information, and order history. This information is stored securely and is never shared with third parties without your consent, except as required by law. By using our system, you agree to the collection and use of your information in accordance with this policy.
            </p>
        </main>
        <footer>
            <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
            <p>2025, &copy; Perpex Restaurnt Management. All Rights Reserved.</p>
        </footer>
    </body>
</html>