{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'thank_you_styles.css' %}">
        <title>Thank you</title>
    </head>
    <body>
        <main>
            <h1>Thank you!</h1>
            <p>Thank you for reaching out, your message has been sent. We will get back to you shortly.</p>
        </main>
        <footer>
            <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
            <p>2025, &copy; Perpex Restaurnat Management. All Rights Reserved.</p>
        </footer>
    </body>
</html>